{% extends "pages/base.html" %}
{% block title %}Dashboard{% endblock title %}


{% block body %}
    {% include "../components/navbar.html"%}	

    <div class="min-h-screen p-4 bg-gray-900">
        <div class="p-4 border-2 border-dashed rounded-lg border-gray-700">
           
            <div class="flex items-center justify-center h-48 mb-8 rounded bg-gray-800">
                <a href="{% url "makevideo" %}" class="px-6 py-3 sm:px-12 sm:py-6 submit-btn text-center rounded-full text-white text-xl font-bold">
                    Create New Video Project
                </a>
            </div>

            <div class="flex items-center justify-center h-19 mb-4 p-2 bg-gray-900 text-gray-200 text-center">
                <span class="inline-block text-2xl">Created Projects</span>
            </div>

            
            {%if video_projects%}
                <div class="grid sm:grid-cols-2 gap-4 mb-4">
                        {% for project in  video_projects.reverse%}
                            <div class="p-6 border rounded-lg shadow bg-gray-800 border-gray-700">
                                <a href="#">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Status: <span class="text-blue-500"> {{project.project_state}} <span>  </h5>
                                </a>
                                <p class="mb-3 font-normal text-gray-400">Website Links: {{ project.scrollervideo_set.all.count }}</p>
                                <a href="{% url "project" project.id %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Go to Project
                                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                    </svg>
                                </a>
                            </div>
                        {% endfor %} 
                </div>
            {% else %}
                <p>Your created Projects will show here.</p>
            {% endif %}
          
           
        </div>
     </div>

{% endblock body %}