<!-- Features Start -->
{% load static %}

<div class="mt-28">
  <div data-aos="flip-down" class="text-center max-w-screen-md mx-auto">
      <h1 class="text-3xl font-bold mb-4">Elevate your Content with Our <span class="text-blue-500">Exciting Features</span></h1>
      <p class="text-gray-500">Unleash creativity effortlessly with seamless link integration, dynamic video enhancements, automated screenshot collages, circular playback charm, and captivating scrolling effects. Elevate your storytelling with our exciting features!
      </p>
  </div>
</div>


<div class="flex flex-col md:flex-row items-center md:space-x-10 mt-16">
  <div data-aos="fade-right" class="md:w-1/2 lg:pl-14">
    <h1 class="text-darken font-semibold text-3xl lg:pr-56">Seamless <span class="text-blue-500">Link Integration</span></h1>
    <p class="text-gray-500 my-4 lg:pr-32">Easily integrate website links into your videos with a few clicks. Plus, for added convenience, upload a CSV file with all your links.
       Our platform ensures your content seamlessly weaves together, making storytelling effortlessly simple!</p>
  </div>
  <img data-aos="fade-left" class="md:w-1/2 img-border" src="{% static 'images/feature1.jpg' %}">
</div>


<div class="mt-20 flex flex-col-reverse md:flex-row items-center md:space-x-10">
  <div data-aos="fade-right" class="md:w-6/12">
    <img class="md:w-11/12 img-border" src="{% static 'images/feature2.jpg' %}">
  </div>
  <div data-aos="fade-left" class="md:w-6/12 md:transform md:-translate-y-20">
    <h1 class="font-semibold text-darken text-3xl lg:pr-64">Captivating Scrolling Effect</h1>
    <p class="text-gray-500 my-5 lg:pr-52">Immerse your audience in a mesmerizing visual journey.
       Your website screenshots elegantly scroll in the background, adding an extra layer of magic to your videos.</p>
  </div>
</div>


<div class="flex flex-col md:flex-row items-center mt-12">
  <div data-aos="fade-right" class="md:w-5/12">
    <h1 class="text-darken font-semibold text-3xl leading-tight lg:pr-32">Dynamic Video Enhancement</h1>
    <p class="my-5 lg:pr-14">Give your local videos a touch of magic! Our system not only adds a stylish circle mark but also enhances your video for a truly immersive viewing experience.
       Watch your content come to life in a whole new way!</p>
  </div>
  <img data-aos="fade-left" class="md:w-7/12 img-border" src="{% static 'images/feature3.jpg' %}">
</div>

<div class="mt-20 flex flex-col-reverse md:flex-row items-center md:space-x-10">
  <div data-aos="fade-right" class="md:w-6/12">
    <img class="md:w-11/12 img-border" src="{% static 'images/feature4.jpg' %}">
  </div>
  <div data-aos="fade-left" class="md:w-6/12 md:transform md:-translate-y-20">
    <h1 class="font-semibold text-darken text-3xl lg:pr-64"> Blend of Websites and Videos</h1>
    <p class="text-gray-500 my-5 lg:pr-52">Bring your content to life by merging scrolling websites with your videos. Our platform seamlessly weaves the narrative, allowing your audience to explore your story through a dynamic blend of engaging visuals and captivating motion.</p>
  </div>
</div>


<!-- Features End -->