{% load static %}
<div class="bg-cream">
    <div class="max-w-screen-xl sm:pb-8 px-8 mx-auto flex flex-col lg:flex-row items-start">
        <!--Left Col-->
        <div
            class="flex flex-col w-full lg:w-6/12 justify-center lg:pt-24 items-start text-center lg:text-left mb-5 md:mb-0"
            style="padding-bottom: 100px;">
            <h1 data-aos="fade-right" data-aos-once="true"
                class="my-4 text-5xl font-bold leading-tight text-darken">
                <span class="text-yellow-500">Elevate</span> <span class="text-blue-500">your content</span>
            </h1>
            <p data-aos="fade-down" data-aos-once="true" data-aos-delay="300" class="leading-normal text-2xl mb-8 text-white">
                Effortlessly merge website links with videos for a captivating storytelling experience</p>
                <div data-aos="fade-up" data-aos-once="true" data-aos-delay="700"
                class="w-full md:flex items-center justify-center lg:justify-start md:space-x-5">
                <a class="px-10 py-3 mt-2 text-sm text-center transparent-submit-btn text-white rounded-full md:mt-8 md:ml-4"
                href="{% url 'signup' %}">Join For Free</a>
                </div>
        </div>
        <!--Right Col-->
        <div class="pb-12 sm:pt-28 w-full lg:w-6/12 lg:-mt-10 relative" id="girl">
            <img data-aos="fade-up" data-aos-once="true" class="w-10/12 h-200% mx-auto 2xl:-mb-20" src="{% static 'images/hero.png' %}" />
        </div>
    </div>
    <div class="text-white -mt-14 sm:-mt-24 lg:-mt-36 z-40 relative">
        <svg class="xl:h-40 xl:w-full" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
            preserveAspectRatio="none">
            <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z"
                fill="currentColor"></path>
        </svg>
        <div class="bg-white w-full h-20 -mt-px"></div>
    </div>
</div>