<!-- C2 Container Start-->
<div class="mt-28">
    <!-- What is skilline -->
    <div data-aos="flip-down" class="text-center max-w-screen-md mx-auto">
        <h1 class="text-3xl font-bold mb-4">What is<span class="text-blue-500"> Automated Trading Platform?</span></h1>
        <p class="text-gray-500">The Automated Trading Platform is a cutting-edge system designed to empower users with seamless integration with leading brokers such as Zerodha or ICICI Bank. This innovative platform enables users to create, edit, and fine-tune their custom trading strategies using advanced Machine Learning Models. By harnessing the power of artificial intelligence, our platform revolutionizes the way investors engage with the stock market.
        </p>
    </div>
</div>
<!-- C2 Container End-->